<div class="container">
  <span class="title">
    <h1>{{ TITLE }}</h1>
  </span>

  <form class="form" [formGroup]="applicationForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Company Name</mat-label>
      <input matInput formControlName="companyName" required />
      <mat-error *ngIf="applicationForm.get('companyName').invalid"
        >Please enter a company name</mat-error
      >
    </mat-form-field>

    <!-- TODO: Remove field -->

    <!-- <mat-form-field appearance="fill">
      <mat-label>How Far</mat-label>
      <input matInput formControlName="howFar" />
    </mat-form-field> -->

    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Position</mat-label>
      <input matInput formControlName="position" required />
      <mat-error *ngIf="applicationForm.get('position').invalid"
        >Please enter a position</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Website</mat-label>
      <input matInput formControlName="website" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Location</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>

    <!-- TODO: Remove field -->

    <!-- <mat-form-field appearance="fill">
      <mat-label>Response</mat-label>
      <input matInput formControlName="response" />
    </mat-form-field> -->

    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Salary</mat-label>
      <input matInput type="number" class="salary" formControlName="salary" />
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-control">
      <mat-label>Status</mat-label>
      <input matInput formControlName="status" />
    </mat-form-field>

    <div class="form-buttons">
      <button
        mat-raised-button
        color="secondary"
        class="button"
        routerLink="/applications"
      >
        Cancel
      </button>
      <button mat-raised-button type="submit" color="primary" class="button">
        Submit
      </button>
    </div>
  </form>
</div>
