.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
}

input.salary::-webkit-outer-spin-button,
input.salary::-webkit-inner-spin-button {
  display: none;
}

.form {
  max-width: 350px;
  margin: auto;
}

.form-control {
  margin: 4px 0px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  font-size: 1rem;
  min-width: 165px;
  height: 50px;
}

mat-form-field {
  width: 100%;
}
