.fill-space {
  flex: 1 1 auto;
}

.container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.sidenav .link {
  color: white;
  text-decoration: none;
  display: flex;
  height: 50px;
  align-items: center;
  padding-left: 16px;
  flex-direction: row;
}

.sidenav .link:hover {
  background-color: lightgray;
  color: #3f51b5;
}

.sidenav .link:active {
  color: #3f51b5;
}

.nav-link-text {
  margin-left: 4px;
}

.toggle {
  margin: 16px;
}

.title {
  margin-left: 4px;
}
