/* @import "../../palette.scss"; */

table {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
}

.tableCard {
  margin: 16px;
}

th {
  color: white;
  background: #424242;
  font-size: 1rem;
  font: bold;
}

tr:nth-child(odd) {
  background: #4d4d4d;
}
